<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/findid.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script th:src="@{https://kit.fontawesome.com/32dee6c2b4.js}" crossorigin="anonymous"></script>
    <script src="/js/page.js"></script>

    <title>찾은 아이디 페이지</title>
</head>

<body>
<section id="header" th:insert="~{header :: headerFragment}"></section>
<section id="content">
    <article id="findid-content">
        <div id="findid-title">
            <div class="findid-container">
                <h1>아이디 찾기</h1>
            </div>
        </div>

        <div class="findid-container">
            <div class="findid-area">
                <span><h3>[[${session.findId}]]</h3></span>
            </div>
            <div class="btn-findid">
                <input type="button" onclick="home()" value="로그인하기"/>
                <input type="button" onclick="cfindPw()" value="비밀번호찾기"/>
            </div>
        </div>
    </article>
</section>
<section id="footer" th:insert="~{footer :: footerFragment}"></section>
</body>

<script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
<script>
    $('#mLogin').click(() => {
        location.href = "/";
    });
    $('#cfindPw').click(() => {
        location.href = "cPwForm"
    });
</script>

</html>