<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/find.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script th:src="@{https://kit.fontawesome.com/32dee6c2b4.js}" crossorigin="anonymous"></script>
    <script src="/js/page.js"></script>

    <title>비밀번호 재설정</title>
</head>

<body>
<section id="header" th:insert="~{header :: headerFragment}"></section>
<section id="content">
    <article id="find-content">
        <div id="find-title">
            <div class="find-container">
                <h1>비밀번호 재설정</h1>
            </div>
        </div>
        <form action="/cModifyPw" method="POST" name="cPwModiForm">
            <div class="find-container">
                <div class="find-area">
                    <input type="password" id="cPw" name="CPW" placeholder="새로운 비밀번호를 입력해주세요." required size="40"/>
                    <br/><span id="check2"></span>
                    <input type="password" id="checkPw" placeholder="비밀번호를 다시 한 번 확인해주세요" required size="40"/>
                    <br/><span id="check3"></span>
                    <div class="btn-find">
                        <input type="button" value="비밀번호 변경" id="submitForm"/>
                    </div>
                </div>
            </div>
        </form>
    </article>
</section>
<section id="footer" th:insert="~{footer :: footerFragment}"></section>
</body>

<script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
<script>
    let check_pw = false;
    let check_pw2 = false;

    // 비밀번호 정규식
    $('#cPw').keyup(()=>{
        let mPw = $('#cPw').val();
        let check2 = $('#check2');

        // 기본값 -1
        let num = mPw.search(/[0-9]/);          // 숫자 입력 여부
        let eng = mPw.search(/[a-z]/);          // 영문자 입력 여부
        let spe = mPw.search(/[~!@#$%^&*]/);    // 특수문자 입력 여부
        let spc = mPw.search(/\s/);             // 공백 입력 여부

        if(mPw.length < 8 || mPw.length > 16){
            check2.html('8자리에서 16자리 이내로 입력');
            check2.css('color', 'red');
            check_pw = false;
        } else if(spc != -1){
            check2.html('공백없이 입력');
            check2.css('color', 'red');
            check_pw = false;
        } else if(num==-1 || eng==-1 || spe==-1){
            check2.html('영문, 숫자, 특수문자를 혼합해서 입력');
            check2.css('color', 'red');
            check_pw = false;
        } else {
            check2.html('사용가능한 비밀번호');
            check2.css('color', 'blue');
            check_pw = true;
        }
    });

    // 비밀번호 입력
    $('#checkPw').keyup(()=>{
        let mPw = $('#cPw').val();
        let checkPw = $('#checkPw').val();
        let check3 = $('#check3');
        let spc = checkPw.search(/\s/);

        if(checkPw.length == 0) {
            check3.html('비밀번호 입력');
            check3.css('color', 'lightgray');
            check_pw2 = false
        } else if(!check_pw) {
            check3.html('비밀번호를 확인해주세요');
            check3.css('color', 'red');
            check_pw2 = false;
        } else if(spc!=-1){
            check3.html('공백없이 입력');
            check3.css('color', 'red');
            check_pw2 = false
        } else if(mPw == checkPw && spc == -1){
            check3.html('비밀번호 일치');
            check3.css('color', 'blue');
            check_pw2 = true;
        } else {
            check3.html('비밀번호 불일치');
            check3.css('color', 'red');
            check_pw2 = false;
        }
    });

    $('#submitForm').click(()=>{
        if(!check_pw || !check_pw2) {
            alert('비밀번호를 확인해주세요');
        } else {
            alert('비밀번호 변경 완료! 로그인 페이지로 이동합니다');
            cPwModiForm.submit();
        }
    });
</script>

</html>