<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script th:src="@{https://kit.fontawesome.com/32dee6c2b4.js}" crossorigin="anonymous"></script>
    <script src="/js/page.js"></script>

    <title>펫디컬 바우와우</title>

</head>

<body>
<section id="header" th:insert="~{header :: headerFragment}"></section>

<section id="content">
    <article class="board-content">
        <div id="board-title">
            <h1 th:if="${catNo} == 1">정보마당</h1>
            <h1 th:if="${catNo} == 2">갤러리</h1>
            <h1 th:if="${catNo} == 3">Q&A</h1>
        </div>
        <!-- 검색 카테고리 -->
        <div id="board-search">
            <label class="category-label">
                <select class="category" id="category">
                    <option value="BWRITER">작성자</option>
                    <option value="BTITLE">제목</option>
                    <option value="BCONTENT">내용</option>
                </select>
                <input type="text" placeholder="검색어를 입력해주세요." class="search-text" id="keyword"/>
                <button class="search-btn" id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
            </label>
        </div>

        <div class="board-foot">
        <div id="bdList"></div>
            <div class="btn-box" th:if="${session.loginNo} ne null">
        <button class="btn" th:if="${session.loginNo} ne null" th:onclick="bRegiForm()">글쓰기</button>
            </div>
            <div class="numbering" id="numbering"></div>
        </div>

    </article>
</section>

<section id="footer" th:insert="~{footer :: footerFragment}"></section>
</body>

<script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
<script>

    let page = 1;       // 목록의 페이지 번호 (시작페이지 1)
    const block = 5;    // 한 페이지에 출력될 번호의 개수
    let limit = '';
    let count = 0;      // 목록의 총 개수
    let list = [];      // 목록을 담기 위한 배열
    let catNo = [[${catNo}]]; // ex) catNo == 1

    if(catNo === 1 || catNo ===3){
        limit = 10;  // 한 페이지에 출력될 목록의 개수
    }else{
        limit = 12;
    }
    console.log(catNo);

    $(()=>{
        $.ajax({
            url : "/boList",
            type : "post",
            data : {
                "catNo" : catNo
            },
            dataType : "json",
            success : function(result){
                console.log(result);
                list = result;
                pagingList(page, list);
            },
            error : function (){
                alert('게시판 불러오기 실패!');
            }
        });
    });

    // 검색한 목록 출력
    $('#btnSearch').click(()=>{
        let category = $('#category').val();
        let keyword = $('#keyword').val();

        $.ajax({
            url : "/bSearchList",
            type : "post",
            data : {
                "category" : category,
                "keyword" : keyword,
                "catNo" : catNo
            },
            dataType : "json",
            success : function(result){
                console.log(result);
                list = result;
                pagingList(page, list);
            },
            error : function (){
                alert('bSearchList함수 호출 실패!');
            }
        });

    });

    // 회원목록 개수 변경
    // id="limit"의 값이 바뀔때
    // $('#limit').change(()=>{
    //     page = 1;
    //     limit = Number($('#limit').val());
    //     pagingList(page, list);
    // });

    // 리스트 출력 함수
    function pagingList(page, list){
        count = list.length;    // 28
        console.log(`catNo# : ${catNo}`);
        console.log(`page# : ${page}` );
        console.log(`count# : ${count}` );

        let maxPage = Math.ceil(count/limit);   //28/12 = 2

        if(page > maxPage){
            if(maxPage===0){
                maxPage = 1;
            }

            page = maxPage;
        }

        let startRow = (page - 1) * limit;  // 1-1 12 0
        let endRow = page * limit - 1; // 1

        if(endRow >= count){
            endRow = count-1;
        }

        let startPage = ((Math.ceil(page/block))-1) * block + 1;
        let endPage = startPage + block - 1;

        if(endPage > maxPage){
            endPage = maxPage;
        }

        output = ``;

        if(catNo === 1 || catNo === 3) {
            console.log(catNo);
            output += `<div id="board-list">
                <div class="board-container">
                <table class="board-table">
                    <thead>
                    <th class="th-no">번호</th>
                        <th class="th-title">제목</th>
                        <th class="th-date">작성자</th>
                        <th class="th-date">작성일</th>
                        <th class="th-hit">조회수</th>
                    </thead>
                <tbody>`;
            // for (let i = startRow; i <= endRow; i++) {
            //     output += `
            //     <tr>
            //         <td>${list[i].bno}</td>
            //         <th><a href="bView?${list[i].bno}"></a>${list[i].btitle}</th>
            //         <td>${list[i].bdate}</td>
            //         <td>${list[i].bhit}</td>
            //     </tr>
            //     `;
            // }

            for(let i=startRow; i<=endRow; i++){
                output += `
                <tr>
                    <td>${list[i].bno}</td>
                    <td><a href="/bView/${list[i].bno}">${list[i].btitle}</a></td>
                `;

                if (list[i].member.mno===-1 && list[i].company.comNo!==-1){
                    output += `<td>${list[i].company.cname}</td>`;
                }else if (list[i].company.comNo===-1 && list[i].member.mno!==-1){
                    output += `<td>${list[i].member.nickName}</td>`;
                }

                output += `
                    <td>${list[i].bdate.substring(0, 10)}</td>
                    <td>${list[i].bhit}</td>
                </tr>
                `;
            }

            output += `</tbody>
                        </table>
                         </div>
                        </div>`;
        }else{
            console.log(catNo);
            output += `<div class="container">`;
            for (let i = startRow; i <= endRow; i++) {
                console.log(list[i].bfileName);
                output += `
                    <div style="display: inline-block;" >
                    <table class="gallery-box">
                    <tr>
                        <th class="post"><a href="/gView/${list[i].bno}"><img src="/upload/${list[i].bfileName}" width="100%" height="100%"></a></th>
                    </tr>
                    <tr>
                        <th class="gtext">${list[i].btitle}</th>
                    </tr>
                    <tr>
                        <th class="gtext-hit"><img src="/img/hit.png">&ensp;${list[i].bhit}&ensp;&ensp;`
                if (list[i].member.mno===-1 && list[i].company.comNo!==-1){
                    output += `${list[i].company.cname}`;
                }else if (list[i].company.comNo===-1 && list[i].member.mno!==-1){
                    output += `${list[i].member.nickName}`;
                } output +=`</th>
                    </tr>
                    </table>
                    </div> &ensp;`;
                if ((i + 1) % 4 === 0) {
                    output += `<br>`;
                }
            }
            output += `</div>`;
        }

        $('#bdList').html(output);

        let pageNums = [];
        let prev = (page-1 < 1 ? 1 : page-1);
        let next = (page+1 >= maxPage ? maxPage : page+1)

        // [이전]
        if(page<=1){
            pageNums.push(` < `);
        } else {
            pageNums.push(`<a class="page-prev" href="#" data-page=${prev}> < </a>`);
        }

        // [페이지번호]
        for(let i=startPage; i<=endPage; i++){
            if(page==i){
                pageNums.push(` ${i} `);

            } else {
                pageNums.push(`<a class="iNum" href="#" data-page=${i}> ${i} </a>`);
            }
        }

        // [다음]
        if(page>=maxPage){
            pageNums.push(` > `);
        } else {
            pageNums.push(`<a class="page-next" href="#" data-page=${next}> > </a>`);
        }

        $('#numbering').html(pageNums);

        // [이전], [페이지번호], [다음]을 클릭시
        $('#numbering a').click(function(e){
            page = parseInt($(this).data('page'));
            console.log(`click page# : ${page}`);

            pagingList(page, list);
        });

    }

</script>

</html>

