
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="shortcut icon" th:href="@{favicon/favicon.ico}" type="image/x-icon">
    <script src="/js/page.js"></script>

    <title>로그인 섹션</title>

</head>

<body>
<div th:fragment="loginFragment">

    <div class="tab-container">
        <div class="tab-menu">
            <ul>
                <li><a class="tab-a active-a" data-id="tab1" th:if="${session.loginmId eq null && session.logincId eq null}">회원로그인</a></li>
                <li><a class="tab-a" data-id="tab2" th:if="${session.loginmId eq null && session.logincId eq null}">기업로그인</a></li>
            </ul>
        </div>
        <!--end of tab-menu-->
        <div th:if="${session.loginmId eq null && session.logincId eq null}" class="tab tab-active" data-id="tab1">
            <article class="login">
                <form action="/mLogin" method="post" name="mLogin">
                    <div class="login-area">
                        <label><input type="text" placeholder="아이디" class="login-text" name="MID" id="MID"/></label><br/>
                        <label><input type="password" placeholder="비밀번호" class="login-text" name="mPw" id="mPw"/></label><br/>
                    </div>
                    <div class="btn-submit">
                        <input type="button" class="submitForm" value="로그인" id="logincheck1" />
                    </div>
                </form>
            </article>
            <article class="login-menu">
                <span>
<!--                    <h6 class="login_warn" th:if="${loginfail} == 1">아이디 또는 비밀번호를 확인해 주세요</h6>-->
                    <a onclick="mfindId()">아이디 찾기</a>
                    <a onclick="mfindPw()">비밀번호 찾기</a>
                    <a onclick="join()">회원가입</a>
                </span>
            </article>
            <article class="kakao-login">
                <a href="/kLoginForm">
                    <img src="/images/kakao_login_medium_wide.png" alt="카카오로그인이미지"/>
                </a>
            </article>
        </div>
        <!--end of tab one-->

        <!-- MEMBER 로그인 했을 떄 -->
        <div th:if="${session.loginmId ne null && session.loginOauth eq null}">
            <article id="logout1">
                <div class="logout1-area">
                    <img th:src="@{|/profile/${session.profile}|}" alt="프로필 이미지" class="login_img"/>
                    <h4>[[${session.loginnickname}]]님 환영합니다.</h4>
                    <button id="mlogout">로그아웃</button>
                    <button id="mView">마이페이지</button>
                </div>
            </article>
        </div>
        <!--end MEMBER 로그인 했을 떄-->

        <!-- COMPANY 로그인 했을 떄 -->
        <div th:if="${session.logincId ne null && session.loginOauth eq null}">
            <article id="logout2">
                <div class="logout2-area">
                    <img th:src="@{|/profile/${session.profile}|}" alt="프로필 이미지" class="login_img"/>
                    <h4>[[${session.cName}]]님 환영합니다.</h4>
                    <button id="clogout">로그아웃</button>
                    <button id="myinfo2">마이페이지</button>
                </div>
            </article>
        </div>
        <!--end COMPANY 로그인 했을 떄-->

        <!-- 카카오 로그인 했을 떄 -->
        <div th:if="${session.loginOauth ne null}">
            <article id="klogout">
                <div class="klogout-area">
                    <img th:src="@{|/profile/${session.profile}|}" alt="프로필 이미지" class="login_img"/>
                    <h4>[[${session.loginnickname}]]님 환영합니다.</h4>
                    <button id="kakaoLogout">카카오로그아웃</button>
                    <button id="kakaoDiscon">카카오연결해제</button>
                    <button id="myinfo3">마이페이지</button>
                </div>
            </article>
        </div>
        <!--end 카카오 로그인 했을 떄-->

        <div th:if="${session.loginmId eq null && session.logincId eq null}" class="tab " data-id="tab2">
            <article class="login">
                <form action="cLogin" method="post" name="cLogin">
                    <div class="login-area">
                        <label><input type="text" placeholder="아이디" class="login-text" name="cId" id="cId"/></label><br/>
                        <label><input type="password" placeholder="비밀번호" class="login-text" name="cPw" id="cPw"/></label><br/>
                    </div>
                    <div class="btn-submit">
                        <input type="button" class="submitForm" value="로그인" id="logincheck2" />
                    </div>
                </form>
            </article>
            <article class="login-menu">
                <span>
<!--                    <h6 class="login_warn" th:if="${loginfail} == 1">아이디 또는 비밀번호를 확인해 주세요</h6>-->
                    <a th:onclick="cfindId()">아이디 찾기</a>
                    <a th:onclick="cfindPw()">비밀번호 찾기</a>
                    <a th:onclick="join()">회원가입</a>
                </span>
            </article>
        </div><!--end of tab two-->


    </div><!--end of container-->

</div>

</body>

<script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
<script>
    $(document).ready(function(){
        $('.tab-a').click(function(){
            $(".tab").removeClass('tab-active');
            $(".tab[data-id='"+$(this).attr('data-id')+"']").addClass("tab-active");
            $(".tab-a").removeClass('active-a');
            $(this).parent().find(".tab-a").addClass('active-a');
        });
    });

</script>

</html>