<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/petcard.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script src="https://kit.fontawesome.com/32dee6c2b4.js" crossorigin="anonymous"></script>
    <script src="/js/page.js"></script>

    <title>결제완료페이지</title>
</head>
<body>


<section id="header" th:insert="~{header :: headerFragment}"></section>

<section id="content">
    <article id="pcboard-content">
        <div id="pcboard-title">
            <h1>결제 완료</h1>
        </div>
        <div class="crdsuccess">
            <table>
                <tr>
                    <th>주문번호 : </th>
                    <td>&emsp;[[${view.CrdNum}]]</td>
                </tr>

                <tr>
                    <th>수령인 &ensp;&ensp;: </th>
                    <td>&emsp;[[${view.CrdName}]]</td>
                </tr>

                <tr>
                    <th>마이펫 &ensp;&ensp;: </th>
                    <td>&emsp;[[${view.pet.pName}]]</td>
                </tr>

                <tr>
                    <th>배송주소 : </th>
                    <td>&emsp;[[${view.CrdAddr}]]</td>
                </tr>
            </table>
            </br>
            <div class="crdbtn">
                <button onclick="home()">메인페이지로 이동</button>
            </div>
            </br>
            </br>
        </div>
    </article>
</section>
<section id="footer" th:insert="~{footer :: footerFragment}"></section>
</body>

<script th:src="@{https://code.jquery.com/jquery-3.7.1.js}" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script>

</script>
</html>