<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pet.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script src="https://kit.fontawesome.com/32dee6c2b4.js" crossorigin="anonymous"></script>
    <script src="/js/page.js"></script>

    <title>펫 등록</title>
</head>
<body>


<section id="header" th:insert="~{header :: headerFragment}"></section>

<section id="content">
    <article id="pboard-content">
    <div id="pboard-title">
        <h1>마이펫 등록</h1>
    </div>
    <form action="pRegister" method="POST" enctype="multipart/form-data" name="pRegisterForm">
        <table class="pregi-table">

            <tr class="pregi-section">
                <th>이름</th>
                <td><input type="text" id="pName" name="pName" required size="38"/></td>
            </tr>

            <tr class="pregi-section">
                <th>생년월일</th>
                <td><input type="date" name="pBirth"  required size="40"/></td>
            </tr>

            <tr class="pregi-section">
                <th>성별</th>
                <td>수컷 <input type="radio" name="pGender" value="수컷"/>
                    암컷 <input type="radio" name="pGender" value="암컷"/></td>
            </tr>

            <tr  class="pregi-section">
                <th>품종</th>
                <td id="kinList"></td>
            </tr>

            <tr class="pregi-section">
                <th>키</th>
                <td><input type="text" id="height" name="pHeight" required size="35"/>
                cm</td>
            </tr>

            <tr class="pregi-section">
                <th>몸무게</th>
                <td><input type="text" id="weight" name="pWeight" required size="35"/>
                kg</td>
            </tr>

            <tr class="pregi-section">
                <th>혈액형</th>
                <td><select name="pBloodType">
                    <option value="DEA 1">DEA 1</option>
                    <option value="DEA 3">DEA 3</option>
                    <option value="DEA 4">DEA 4</option>
                    <option value="DEA 5">DEA 5</option>
                    <option value="DEA 6">DEA 6</option>
                    <option value="DEA 7">DEA 7</option>
                    <option value="DEA 8">DEA 8</option>
                </select>
                </td>
            </tr>

            <tr class="pregi-section">
                <th>중성화 여부</th>
                <td>YES<input type="radio" name="pNeutering" value="YES"/>
                    NO<input type="radio" name="pNeutering" value="NO"/>
                </td>
            </tr>

            <tr  class="pregi-section">
                <th>알러지</th>
                <td>
                    <div id="allList"></div>
                </td>
            </tr>

            <tr class="pregi-section">
                <th>백신 접종 정보</th>
                <td>
                    <div id="vacList"></div>
                </td>
            </tr>

            <tr class="pregi-section">
                <th>질병 정보</th>
                <td>
                    <div id="disList"></div>
                </td>
            </tr>

            <tr class="pregi-section">
                <th>특이사항</th>
                <td>
                    <textarea name="pContent" cols="60" rows="10" placeholder="특이사항 작성" style="font-size: 15px;"></textarea>
                </td>
            </tr>

            <tr class="pregi-section">
                <th>프로필사진</th>
                <td><div class="filebox">
                    <input class="upload-name" placeholder="첨부파일">
                    <label for="pFile">파일찾기</label>
                    <input type="file" name="pFile" id="pFile"/>
                    <br/><img id="pProfileName" width="150px"/>
                    </div>
                    <input type="hidden" th:if="${session.loginNo ne null}" name="MNO" th:value="${session.loginNo}">
                </td>
            </tr>

            <tr class="pregi-button pregi-section">
                <th colspan="2">
                    <input type="button" id="btnSubmit" value="등록">
                    <input type="reset" value="다시 작성">
                </th>
            </tr>
        </table>
    </form>
    </article>
</section>
<section id="footer" th:insert="~{footer :: footerFragment}"></section>

</body>
<script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>
<script>

    //알러지
    $.ajax({
        url: "allergyList",
        type: "POST",
        dataType: "json",
        success: function (list) {
            console.log(list);
            allergyList(list);
        },
        error: function () {
            alert('함수 호출 실패!');
        }

    });

    //checkbox
    function allergyList(list) {
        let output = "";

        output += `해당없음<input type="checkbox" name="pAllergy" value="해당없음">`;

        for (let i in list) {
            output += `
                ${list[i].aname}<input type="checkbox" name="pAllergy" value="${list[i].aname}">&ensp;
            `;
            if (list[i].ano % 4 === 0) {
                output += `
                   <br>
                    `;
            }
        }

        $('#allList').html(output);

    }

    //질병
    $.ajax({
        url: "diseaseList",
        type: "POST",
        dataType: "json",
        success: function (list) {
            console.log(list);
            diseaseList(list);
        },
        error: function () {
            alert('함수 호출 실패!');
        }

    });

    //checkbox
    function diseaseList(list) {
        let output = "";

        output += `해당없음<input type="checkbox" name="pDisease" value="해당없음">`;

        for (let i in list) {
            output += `
                ${list[i].dname}<input type="checkbox" name="pDisease" value="${list[i].dname}">&ensp;
            `;
            if (list[i].dno % 5 === 0) {
                output += `
                   <br>
                    `;
            }
        }

        $('#disList').html(output);

    }

    //백신 접종
    $.ajax({
        url: "vaccineList",
        type: "POST",
        dataType: "json",
        success: function (list) {
            console.log(list);
            vaccineList(list);
        },
        error: function () {
            alert('함수 호출 실패!');
        }

    });

    //checkbox
    function vaccineList(list) {
        let output = "";

        output += `해당없음<input type="checkbox" name="pVaccination" value="해당없음">`;

        for (let i in list) {
            output += `
                ${list[i].vname}<input type="checkbox" name="pVaccination" value="${list[i].vname}">&ensp;
            `;
            if (list[i].vno % 2 === 0) {
                output += `
                   <br>
                    `;
            }
        }

        $('#vacList').html(output);

    }

    //품종
    $.ajax({
        url: "kindList",
        type: "POST",
        dataType: "json",
        success: function (list) {
            console.log(list);
            kindList(list);
        },
        error: function () {
            alert('함수 호출 실패!');
        }

    });

    //select
    let kinList = $("#kinList");

    function kindList(list) {
        let output = "";
        output += "<select name=";
        output += "pKind>";
        output += "<option>품종</option>";
        for (let i in list) {
            output += '<option';
            output += ' value="';
            output += list[i].kname;
            output += '">';
            output += list[i].kname;
            output += "</option>";
        }
        output += "</select>";
        kinList.html(output);
    }

    // 사진 미리보기
    $('#pFile').on("change", function (event){

        let file = event.target.files[0];

        let reader = new FileReader();

        reader.onload = function (e){
            $('#pProfileName').attr("src", e.target.result);
        }

        reader.readAsDataURL(file);
    });

    $("#pFile").on('change',function(){
        var fileName = $("#pFile").val().substring(12);
        $(".upload-name").val(fileName);
    });

    $('#btnSubmit').click(()=>{
        let pAllergy = document.getElementsByName("pAllergy");
        let pAllergyCheck = false;
        let pDisease = document.getElementsByName("pDisease");
        let pDiseaseCheck = false;
        let pVaccination = document.getElementsByName("pVaccination");
        let pVaccinationCheck = false;

        for(let i in pAllergy){
            if (pAllergy[i].checked) {
                pAllergyCheck = true;
                break;
            }
        }

        for(let i in pDisease){
            if (pDisease[i].checked) {
                pDiseaseCheck = true;
                break;
            }
        }

        for(let i in pVaccination){
            if (pVaccination[i].checked) {
                pVaccinationCheck = true;
                break;
            }
        }

        if(pAllergyCheck){
           if(pVaccinationCheck){
               if(pDiseaseCheck){
                   pRegisterForm.submit();
               } else {
                   alert("질병 항목을 선택해주세요.");
               }
           } else {
               alert("백신 항목을 선택해주세요.");
           }
        } else {
            alert("알러지 항목을 선택해주세요.");
        }

    });

</script>

</html>
