#bdList a, #bdList a:visited, #bdList a:active {
    color: black;
}

.board-table {
    width: 100%;
    font-size: 13px;
    border-top: 1px solid sandybrown;
    border-bottom: 1px solid sandybrown;
    margin-top: 10px;
}

.board-table th {
    text-align: center;
}

.board-table .th-no {
    width: 100px;
    text-align: center;
}
.board-table .th-title {
    width:400px;
}

.board-table td, .board-table th {
    padding: 14px 0;
}

.board-title .board-title {
    width: 400px;
}

.board-table tbody td {
    border-top: 1px solid sandybrown;
    text-align: center;
}

.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid sandybrown;
    text-align: center;
}

.board-container {
    width: 1100px;
    margin: 0 auto;
}

.num-paging, .page-prev, .iNum, .page-next{
    font-size:20px;
    margin-top: 60px;
    text-align: center;
}

.btn {
    margin:30px 51px;
    width: 90px;
    height: 30px;
    float: right;
    transform: translateX(-100px);
}

.board-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}