<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">

    <title>차트 목록</title>
</head>

<body>
<div>
    <input type="date" id="calbtn" value="차트내역" onchange="loadRecordsByDate()">

    <select id="limit">
        <option value="5">5개씩</option>
        <option value="10">10개씩</option>
        <option value="20">20개씩</option>
    </select>

    <select id="category">
        <option value="PNAME">이름</option>
    </select>

    <input type="text" id="keyword"/>

    <input type="button" id="btnSearch" value="검색">
</div>
<table>
    <caption>차트목록</caption>
    <thead>
    <tr>
        <th>진료날짜</th>
        <th>환자이름</th>
        <th>진료항목</th>
        <th>병원이름</th>
        <th>담당의</th>
    </tr>
    </thead>

    <tbody id="recList">

    </tbody>

    <tfoot>
    <tr>
        <th colspan="5" id="numbering"></th>
    </tr>
    </tfoot>
</table>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script>
    let page = 1;
    let limit = 5;
    const block = 5;
    let count = 0;
    let list = [];
    let mNo=[[${session.loginNo}]];

    console.log(new Date);

    var today = new Date();

    var year = today.getFullYear();
    var month = ('0' + (today.getMonth() + 1)).slice(-2);
    var day = ('0' + today.getDate()).slice(-2);


    var dateString = year + '-' + month + '-' + day;


    $(() => {
        $.ajax({
            url: "/memRecList",
            type: "post",
            dataType: "json",
            success: function (result) {
                list = result;
                pagingList(page, list);
            },
            error: function () {
                alert('진료내역이 없습니다.');
            }
        });
    });

    $('#limit').change(() => {
        page = 1;
        limit = Number($('#limit').val());
        pagingList(page, list);
    });

    $('#btnSearch').click(() => {
        let category = $('#category').val();
        let keyword = $('#keyword').val();

        $.ajax({
            url: "rSearchList",
            type: "post",
            data: {
                "category": category,
                "keyword": keyword
            },
            dataType: "json",
            success: function (result) {
                list = result;
                pagingList(page, list);
            },
            error: function () {
                alert('rSearchList함수 호출 실패!');
            }
        });
    });

    // '날짜선택'
    function loadRecordsByDate() {
        let selectedDate = $('#calbtn').val();

        $.ajax({
            url: "/mrecList",
            type: "post",
            dataType: "json",
            data: {
                "dateString": selectedDate,
                "mNo": mNo
            },
            success: function (result) {
                list = result;
                pagingList(page, list);
            },
            error: function () {
                alert('reList 호출 실패!');
            }
        });
    }

    function pagingList(page, list) {
        count = list.length;

        console.log(`page# : ${page}`);
        console.log(`count# : ${count}`);

        let maxPage = Math.ceil(count / limit);

        if (page > maxPage) {
            if (maxPage == 0) {
                maxPage = 1;
            }

            page = maxPage;
        }

        let startRow = (page - 1) * limit;
        let endRow = page * limit - 1;

        if (endRow >= count) {
            endRow = count - 1;
        }

        let startPage = ((Math.ceil(page / block)) - 1) * block + 1;
        let endPage = startPage + block - 1;

        if (endPage > maxPage) {
            endPage = maxPage;
        }

        output = ``;


        for (let i = startRow; i <= endRow; i++) {
            output += `
                <tr>
                    <td>${list[i].rdate}</td>
                    <td><a href="/recView/${list[i].rno}">${list[i].pet.pname}</a></td>
                    <td>${list[i].rcategory}</td>
                    <td>${list[i].company.cname}</td>
                    <td>${list[i].rname}</td>

                </tr>
            `;
        }

        $('#recList').html(output);

        let pageNums = [];
        let prev = (page - 1 < 1 ? 1 : page - 1);
        let next = (page + 1 >= maxPage ? maxPage : page + 1)

        if (page <= 1) {
            pageNums.push(` < `);
        } else {
            pageNums.push(`<a class="prev" href="#" data-page=${prev}> < </a>`);
        }

        for (let i = startPage; i <= endPage; i++) {
            if (page == i) {
                pageNums.push(` ${i} `);
            } else {
                pageNums.push(`<a class="iNum" href="#" data-page=${i}> ${i} </a>`);
            }
        }

        if (page >= maxPage) {
            pageNums.push(` > `);
        } else {
            pageNums.push(`<a class="next" href="#" data-page=${next}> > </a>`);
        }

        $('#numbering').html(pageNums);

        $('#numbering a').click(function (e) {
            page = parseInt($(this).data('page'));
            console.log(`click page# : ${page}`);

            pagingList(page, list);
        });
    }
</script>

</html>