<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/cindex.css">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

    <script th:src="@{https://kit.fontawesome.com/32dee6c2b4.js}" crossorigin="anonymous"></script>
    <script src="/js/company.js"></script>

    <title>담당의목록</title>
</head>

<body>

<section class="sidebar" th:insert="~{/company/sidebar :: sidebarFragment}"></section>
<section class="dList-section">
    <div class="cmain-title">
        <h1>의사 목록</h1>
    </div>
    <hr class="header_line">
    <div class="dList-search">
        <!-- 게시글 개수 변경 -->
        <select id="limit">
            <option value="5">5개씩</option>
            <option value="10">10개씩</option>
            <option value="20">20개씩</option>
        </select>

        <!-- 카테고리 -->
        <select id="category">
            <option value="DNAME">이름</option>
            <option value="DID">아이디</option>
        </select>

        <!-- 검색어 -->
        <input type="text" id="keyword" placeholder="검색어를 입력해주세요."/>

        <!-- 검색버튼 -->
        <button id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></button>

    </div>

    <table class="dList-table">
        <thead>
        <tr>
            <th>프로필</th>
            <th>의사 코드번호</th>
            <th>이름</th>
        </tr>
        </thead>

        <tbody id="docList"></tbody>

    </table>
    <div id="numbering"></div>
</section>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script>
    let page = 1;       // 목록의 페이지 번호 (시작페이지 1)
    let limit = 5;      // 한 페이지에 출력될 목록의 개수
    const block = 5;    // 한 페이지에 출력될 번호의 개수
    let count = 0;      // 목록의 총 개수
    let list = [];      // 목록을 담기 위한 배열
    let comNo = [[${session.comNo}]];
    console.log('comNo = ', comNo);

    $(() => {
        $.ajax({
            url: "/dList",
            type: "post",
            dataType: "json",
            success: function (result) {
                console.log(result);
                list = result;
                pagingList(page, list);
            },
            error: function () {
                alert('dList함수 호출 실패!');
            }
        });
    });

    // 회원목록 개수 변경
    // id="limit"의 값이 바뀔때
    $('#limit').change(() => {
        page = 1;
        limit = Number($('#limit').val());
        pagingList(page, list);
    });

    // 검색한 목록 출력
    $('#btnSearch').click(() => {
        let category = $('#category').val();
        let keyword = $('#keyword').val();

        $.ajax({
            url: "/dSearchList",
            type: "post",
            data: {
                "category": category,
                "keyword": keyword
            },
            dataType: "json",
            success: function (result) {
                console.log(result);
                list = result;
                pagingList(page, list);
            },
            error: function () {
                alert('searchList함수 호출 실패!');
            }
        });


    });


    // 리스트 출력 함수
    function pagingList(page, list) {
        count = list.length;

        console.log(`page# : ${page}`);
        console.log(`count# : ${count}`);

        let maxPage = Math.ceil(count / limit);

        if (page > maxPage) {
            if (maxPage == 0) {
                maxPage = 1;
            }

            page = maxPage;
        }

        let startRow = (page - 1) * limit;
        let endRow = page * limit - 1;

        if (endRow >= count) {
            endRow = count - 1;
        }

        let startPage = ((Math.ceil(page / block)) - 1) * block + 1;
        let endPage = startPage + block - 1;

        if (endPage > maxPage) {
            endPage = maxPage;
        }

        output = ``;
        console.log(list);
        for (let i = startRow; i <= endRow; i++) {
            output += `
                <tr>
                    <th style="width: 20px;"><img src="/profile/${list[i].dfileName}" width="50px"></th>
                    <th>${list[i].did}</th>
                    <th><a href="/dView/${list[i].dno}">${list[i].dname}</th>

                </tr>
            `;
        }


        $('#docList').html(output);

        let pageNums = [];
        let prev = (page - 1 < 1 ? 1 : page - 1);
        let next = (page + 1 >= maxPage ? maxPage : page + 1)

        // [이전]
        if (page <= 1) {
            pageNums.push(` < `);
        } else {
            pageNums.push(`<a class="prev" href="#" data-page=${prev}> < </a>`);
        }

        // [페이지번호]
        for (let i = startPage; i <= endPage; i++) {
            if (page == i) {
                pageNums.push(` ${i} `);

            } else {
                pageNums.push(`<a class="iNum" href="#" data-page=${i}> ${i} </a>`);
            }
        }

        // [다음]
        if (page >= maxPage) {
            pageNums.push(` > `);
        } else {
            pageNums.push(`<a class="next" href="#" data-page=${next}> > </a>`);
        }

        $('#numbering').html(pageNums);

        // [이전], [페이지번호], [다음]을 클릭시
        $('#numbering a').click(function (e) {
            page = parseInt($(this).data('page'));
            console.log(`click page# : ${page}`);

            pagingList(page, list);
        });

    }

</script>

</html>